<!DOCTYPE html>
<html>

<head>

    <title>Uganda Job Recommendation System</title>

    .net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">

</head>

<body class="bg-light">

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-body">

            <h1 class="text-center mb-4">
                Uganda Job Recommendation System
            </h1>

            <form method="POST">

                <label class="form-label">
                    Enter Your Skills
                </label>

                <textarea
                    class="form-control"
                    name="skills"
                    rows="8"
                    placeholder="Example: Python Flask SQL Git">
                </textarea>

                <button
                    class="btn btn-primary mt-3">
                    Find Matching Jobs
                </button>

            </form>

        </div>

    </div>

</div>

</body>
</html>